body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      /*color: #818181;*/
      background-color: #dddde2;
      color:black;
      font-weight: bold;
  }

  .jumbotron {
      /*background-color: #f4511e;*/
      /*color: #fff;*/
      margin-top: 25px;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
      font-weight:bold;
      background-image: url("images/patrick-tomasso-208114-unsplash.jpg");
      background-size: cover;
      color: #f4511e;
      height: 35em;
      border-bottom: white solid 10px;
  }


.container-fluid {
      padding: 60px 50px;
  }
  .coolFont{
	font-size: 3em;
	/*margin-left: 25%;*/
	margin-top:10px;
	/*background-color:white;*/
	border-radius: 30%;
	/*height: 100px;*/
	text-align: center;
	color: #0066cc;
}
.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
#overview{
	text-align:center;
  	color:#fff;
  	line-height: 1.5;
  	font-size: 1.5em;
}

.navbar {
      margin-bottom: 0;
      background-color: #f4511e;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }






